[Desktop Entry]
Name=Java Mission Control
Comment=Analyze performance of Java applications
Exec=/usr/bin/flatpak run --command org.openjdk.Jmc -vm /app/jre/bin/java
Icon=org.openjdk.Jmc
Terminal=false
Type=Application
Categories=Development;Java;Profiling;
X-Flatpak=org.openjdk.Jmc